<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- porperties要放在前面，否则会报错 -->
	<!-- 即可以通过外部属性文件引入，也可通过文件内property定义 -->
	<!-- 属性加载顺序： -->
	<!-- ①properties体内定义的属性； -->
	<!-- ②属性文件，同名属性会覆盖①中加载的属性 -->
	<!-- ③方法传递的属性，编程方法实现 -->
	<properties resource="config.properties">
		<property name="username" value="bxhr" />
		<property name="password" value="Password" />
	</properties>
	<typeAliases>
		<typeAlias type="com.mybatis.test.domain.User" alias="user" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="user.xml" />
		<mapper resource="user-interface.xml" />
		<mapper resource="blog.xml" />
<!-- 		<mapper class="com.mybatis.test.inter.UserOperation"/> -->
	</mappers>
</configuration>
